.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header__nav--logo {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.header__nav--logo-svg {
  width: 132px;
  height: 24px;
}

.header__nav--links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  background: var(--black);
  border-radius: 30px;
  padding: 8px 12px;
  width: 233px;
  height: 52px;
}

.header__nav--link {
  font-weight: 400;
  line-height: 1.28;
  font-size: 14px;
  color: var(--white);
  border-radius: 30px;
  padding: 6px 12px;

  width: 44px;
  height: 24px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.link--active {
  background-color: var(--white);
  color: var(--black);
  border-radius: 30px;
  padding: 6px 12px;

  width: 44px;
  height: 24px;
}

.header__nav--link:hover {
  background-color: var(--white);
  color: var(--black);
}

.header__socials {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__socials--link {
  border-radius: 10px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(36, 36, 36, 0.1);
  color: rgba(36, 36, 36, 0.8);
}

.header__socials--link:hover {
  background-color: rgba(36, 36, 36, 0.8);
  color: var(--white);
  transition: background-color 250ms linear;
}

.header__socials--svg {
  width: 28px;
  height: 28px;
  fill: currentColor;
}

.header__burger-btn {
  display: flex;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.header__burger-btn-svg {
  width: 32px;
  height: 32px;
  stroke: var(--black);
}

/* header-menu-overlay */
.header__menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  height: 100vh;
  background-color: var(--black);
  padding: 20px 27px;
}

.header__menu-overlay.menu-is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header__menu-overlay:not(.menu-is-hidden) {
  opacity: 1;
}

.header__close--btn {
  cursor: pointer;
  border: none;
  background: var(--black);
  display: flex;
  justify-content: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

.header__close--btn--svg {
  width: 32px;
  height: 32px;
  stroke: white;
}

.header__mobile--nav--links {
  cursor: pointer;
  border: none;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
  font-size: 14px;
  line-height: 129%;
}

.header__mobile--socials {
  display: flex;
  gap: 12px;
  justify-content: center;
  color: var(--white);
}

.header__mobile--socials--link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border: 1px solid rgba(244, 244, 244, 0.1);
  border-radius: 10px;
  cursor: pointer;
  height: 44px;
  width: 44px;
  transition: background-color 250ms linear, color 250ms linear;
}

.header__mobile--socials--link:hover {
  background-color: var(--white);
  color: var(--black);
}

.header__mobile--socials--svg {
  width: 28px;
  height: 28px;
  fill: currentColor;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .header__menu-overlay,
  .header__burger-btn {
    display: flex;
  }

  .header__nav--links {
    display: none;
  }
  .header__socials {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
  }

  .header__menu-overlay,
  .header__burger-btn {
    display: none;
  }

  .header--desktop .header__nav:not(.header__nav--logo) {
    display: block;
  }

  .header--desktop .header__socials {
    display: flex;
  }

  .header__nav ul {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1280px) {
  .header__menu-overlay,
  .header__burger-btn {
    display: none;
  }

  .header--desktop .header__nav:not(.header__nav--logo) {
    display: block;
  }

  .header--desktop .header__socials {
    display: flex;
  }

  .header__nav ul {
    flex-direction: row;
  }

  .header__nav--links {
    width: 265px;
  }
}
