.section-hero {
  padding-top: 40px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .section-hero {
    padding-top: 50px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section-hero {
    padding-top: 48px;
  }
}

.hero-container {
  position: relative;
}

.hero__decorative-image {
  display: none;
}

@media screen and (min-width: 1440px) {
  .hero__decorative-image {
    cursor: initial;
    position: absolute;
    display: inline-flex;
    top: 12px;
    right: 0;
    width: 168px;
    height: 100px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets//images/hero/hero-img-small-desk.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  @media screen and (min-width: 1440px) {
    .hero__decorative-image {
      background-image: url('../../assets/images/hero/hero-img-small-desk@2x.jpg');
    }
  }
}

.hero__header-group {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.hero__icon {
  position: absolute;
  top: 5px;
}

@media screen and (min-width: 768px) {
  .hero__icon {
    position: absolute;
    top: 6px;
    width: 59px;
    height: 59px;
  }
}

.hero__title {
  text-indent: 50px;
  width: 100%;
  color: var(--black);
  font-size: 38px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.76px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    text-indent: 75px;
    font-size: 74px;
    line-height: 1;
    letter-spacing: -1.48px;
  }
}

.hero__title-highlight {
  font-style: italic;
}

.hero__subtitle {
  width: 100%;
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  margin-bottom: 20px;
}

@media screen and (min-width: 375px) {
  .hero__subtitle {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .hero__subtitle {
    width: 500px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__subtitle {
    width: 500px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 32px;
  }
}

.hero__tag-container {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .hero__tag-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .hero__tag-container {
    position: absolute;
    top: 144px;
    right: 0;
    display: flex;
    width: 197px;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
  }
}

.hero__hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__hashtag-text {
  color: var(--black);
  font-size: 14px;
  line-height: 1.28;
  padding: 4px 12px;
  letter-spacing: -0.2px;
  border-radius: 30px;
  border: 1px solid var(--black);
}

@media screen and (min-width: 768px) {
  .hero__hashtag-text {
    padding: 4px 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .hero__hashtag-text {
    padding: 4px 16px;
  }
}

.hero__tag-container a {
  transition: all 600ms ease-in-out;
}

.hero__tag-container a:hover,
.hero__tag-container a:focus {
  background: var(--black);
  color: var(--gray);
  opacity: 0.8;
}

.hero__image {
  width: 100%;
  height: 460px;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/images/hero/hero-img-mob.jpg);
  border-radius: 60px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero__image {
    height: 550px;
    background-image: url(../../assets/images/hero/hero-img-tab.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .hero__image {
    height: 350px;
    background-image: url(../../assets/images/hero/hero-img-desk.jpg);
    margin-bottom: 0;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__image {
    background-image: url('../../assets/images/hero/hero-img-mob@2x.jpg');
  }
  @media screen and (min-width: 768px) {
    .hero__image {
      background-image: url('../../assets/images/hero/hero-img-tab@2x.jpg');
    }
  }
  @media screen and (min-width: 1440px) {
    .hero__image {
      background-image: url('../../assets/images/hero/hero-img-desk@2x.jpg');
    }
  }
}
