@import url('../common/base.css');

@import url('../components/header.css');
@import url('../components/hero.css');
@import url('../components/exercises-section.css');
@import url('../components/filters-list.css');
@import url('../components/sidebar-info.css');
@import url('../components/exercises-list.css');
@import url('../components/pagination.css');
@import url('../components/exercise-modal.css');
@import url('../components/footer.css');
