<section id="exercises-section" class="section exercises-section">
  <div class="container">
    <div class="exersize__head-wraper">
      <h2 class="section__title">Exercises<span class="section__title-suffix"></span></h2>
      <form class="exersize__form js-search-form is-hidden">
        <input class="exersize__search-input is-hidden" type="text" name="input_search" required="" placeholder="Search">
        <svg class="exersize__search-icon" width="18" height="18">
          <use href="../assets/icons/icons-sprite.svg#search"></use>
        </svg>
        
      </form>

      <!-- <load src="/partials/filters-list.html" /> -->

      <!--Buttons-->
      <ul class="exercises__buttons">
        <li class="exercises__btn-item">
          <button class="exercises__btn-smpl active">Muscles</button>
        </li>
        <li class="exercises__btn-item">
          <button class="exercises__btn-smpl">Body parts</button>
        </li>
        <li class="exercises__btn-item">
          <button class="exercises__btn-smpl">Equipment</button>
        </li>
      </ul>
    </div>

    <!-- cards -->
    <div class="exercises__cards-wraper">
      <div>
        <load src="/partials/sidebar-info.html" />
      </div>

      <ul class="exercises__cards"></ul>

      <load src="/partials/exercises-list.html" />
    </div>

    <load src="/partials/pagination.html" />
  </div>
</section>
