<div class="favorites-section">
  <div class="container">
    <h2 class="section__title">
      Favorites
    </h2>

    <div class="exercises__cards-wraper">
      <div class="exercises__cards-container">
        <load src="/partials/loader.html" />
        <div class="exercises__cards-empty visually-hidden"></div>

        <ul class="exercises__cards js-exercises-cards"></ul>

        <load src="/partials/pagination.html" />
      </div>

      <load src="/partials/exercises-list.html" />

      <load src="/partials/sidebar-info.html" />
    </div>
  </div>
</div>