<footer class="footer">
  <div class="container">
    <div class="main-block__wrapper">
      <div class="logo-socials__wrapper">
        <div class="logo__footer">
          <!-- <p>YOUR ENERGY</p> -->
          <a href="#">
            <img src="../assets/images/logo-footer.svg" alt="YOUR ENERGY" />
          </a>
        </div>
        <div>
          <ul class="socials__icons">
            <li>
              <a class="footer-socials__link" href="#">
                <svg class="footer__social-icon" width="24" height="24">
                  <use href="./assets/icons/icons-sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="footer-socials__link" href="#">
                <svg class="footer__social-icon" width="24" height="24">
                  <use href="./assets/icons/icons-sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="footer-socials__link" href="#">
                <svg class="footer__social-icon" width="24" height="24">
                  <use href="./assets/icons/icons-sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <p class="motto__wrapper">
        Transforming your <span>body</span> shape with us
      </p>

      <div class="subscription-block__wrapper">
        <div class="form-title__wrapper">
          <p>Subscribe and learn about new exercises!</p>
        </div>
        <div class="subscription-form__wrapper">
          <form class="subscription-form">
            <input type="email" placeholder="Email" required />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>

    <div class="policy-block__wrapper">
      <div>
        <p>Your Energy. All rights reserved.</p>
      </div>
      <div>
        <div class="links">
          <a href="#">Privacy Policy</a><span> / </span>
          <a href="#">Terms of Service</a>
        </div>
      </div>
      <div class="year">
        <p>©2023</p>
      </div>
    </div>
  </div>
</footer>
