<section class="section-hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero__header-group">
        <svg class="hero__icon" width="38" height="38">
          <use href="./assets/icons/icons-sprite.svg#sun"></use>
        </svg>
        <h1 class="hero__title">
          Get <span class="hero__title-highlight">Body</span> in <br />shape,
          Stay healthy
        </h1>
        <div
          class="hero__decorative-image"
          role="img"
          aria-label="Outdoor fitness activity with women"
        ></div>
      </div>
      <p class="hero__subtitle">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
      <div
        class="hero__image"
        role="img"
        aria-label="Women in outdoor fitness activity"
      ></div>
      <ul class="hero__tag-container">
        <li class="hero__hashtag">
          <p class="hero__hashtag-text">#Sport</p>
        </li>
        <li class="hero__hashtag">
          <p class="hero__hashtag-text">#Healthy</p>
        </li>
        <li class="hero__hashtag">
          <p class="hero__hashtag-text">#Workout</p>
        </li>
        <li class="hero__hashtag">
          <p class="hero__hashtag-text">#Diet</p>
        </li>
      </ul>
    </div>
  </div>
</section>
