<section class="section-hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero__header-group">
        <svg class="hero__icon" width="38" height="38">
          <use href="./assets/icons/icons-sprite.svg#sun"></use>
        </svg>
        <h1 class="hero__title">
          Get <span class="hero__title-highlight">Body</span> in <br />shape,
          Stay healthy
        </h1>
        <div class="hero__decorative-image">
          <img
            alt="Outdoor fitness activity with women"
            srcset="
              /assets/images/hero/hero-img-small-desk.jpg    1x,
              /assets/images/hero/hero-img-small-desk@2x.jpg 2x
            "
            src="/assets/images/hero/hero-img-small-desk.jpg"
          />
        </div>
      </div>
      <p class="hero__subtitle">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
      <picture class="hero__image">
        <source
          media="(max-width: 767px)"
          srcset="
            /assets/images/hero/hero-img-mob.jpg    1x,
            /assets/images/hero/hero-img-mob@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /assets/images/hero/hero-img-tab.jpg    1x,
            /assets/images/hero/hero-img-tab@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            /assets/images/hero/hero-img-desk.jpg    1x,
            /assets/images/hero/hero-img-desk@2x.jpg 2x
          "
        />
        <img
          src="/assets/images/hero/hero-img-mob.jpg"
          alt="Women in outdoor fitness activity"
        />
      </picture>
      <ul class="hero__tag-container">
        <li class="hero__hashtag">
          <p class="hero__hashtag-text">#Sport</p>
        </li>
        <li class="hero__hashtag">
          <p class="hero__hashtag-text">#Healthy</p>
        </li>
        <li class="hero__hashtag">
          <p class="hero__hashtag-text">#Workout</p>
        </li>
        <li class="hero__hashtag">
          <p class="hero__hashtag-text">#Diet</p>
        </li>
      </ul>
    </div>
  </div>
</section>
