<section class="section">
  <div class="container">
    <div class="hero">
      <div class="hero__header-group">
        <svg class="hero__icon" width="38" height="38">
          <use href="../assets/icons/icons-sprite.svg#sun"></use>
        </svg>
        <h1 class="hero__title">
          Get <span class="hero__title-highlight">Body</span> in <br />shape,
          Stay healthy
        </h1>
        <img
          class="hero__decorative-image"
          src="../assets/images/hero/hero-img-small-desk.jpg"
          srcset="../assets/images/hero/hero-img-small-desk@2x.jpg 2x"
          alt="Outdoor fitness activity with women"
          width="160"
          height="100"
        />
      </div>
      <p class="hero__subtitle">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
      <div
        class="hero__image"
        role="img"
        aria-label="Women in outdoor fitness activity"
      ></div>
      <ul class="hero__tag-container">
        <li class="hero__hashtag">
          <a class="hero__hashtag-text" href="#sport" target="_blank">#Sport</a>
        </li>
        <li class="hero__hashtag">
          <a class="hero__hashtag-text" href="#healthy" target="_blank"
            >#Healthy</a
          >
        </li>
        <li class="hero__hashtag">
          <a class="hero__hashtag-text" href="#workout" target="_blank"
            >#Workout</a
          >
        </li>
        <li class="hero__hashtag">
          <a class="hero__hashtag-text" href="#diet" target="_blank">#Diet</a>
        </li>
      </ul>
    </div>
  </div>
</section>
